*{
    margin: 01rem;
    padding: 0;
   background-color: #deb887; 
}

header{ 
    margin-right: 10px; 
}

main{
     margin-right: 20px; 
}

footer{
    margin-right: 10px; 
}

h1, p {
    text-align: center;
  }

li{
    padding-top: 10px;
}